.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: grid;
  background-color: #fafafa;
}

.App-logo {
  background-image: url("./img/peterbilt.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 45vmin;

}

.App-header {
  background-image: url("./img/WarehouseProducts.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}


